* {
  margin: 0;
  padding: 0;
}

/* Generales */
/* MAPS-MIXINS */
/* FIN MAPS-MIXINS */
/* Scrollbar */
:root {
  scrollbar-color: #7f7f7f #fff;
  scrollbar-width: thin;
}

:root::-webkit-scrollbar {
  -webkit-appearance: none;
}

:root::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border: 2px solid #f1f2f3;
  border-radius: 20px;
}

:root::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Fin de Scrollbar */
footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#000));
  background-image: linear-gradient(#131313, #000);
}

ul, p {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

p {
  font-size: 12px;
  font-weight: lighter;
}

#nav-bar {
  background-color: transparent;
}

.navbar {
  background-color: #f3663b;
}

.form-control {
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.form-control:focus {
  background-color: #333333;
  color: white;
}

.navbar-toggler {
  border-radius: 20px;
  border: none;
}

.btn-outline-dark {
  width: 40px;
  border-radius: 50%;
}

.btn-light {
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-light:hover {
  background: #FF5722;
  border: #FF5722;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  color: #fff;
  -webkit-box-shadow: 0px 10px 25px #eb582c;
          box-shadow: 0px 10px 25px #eb582c;
}

.card {
  -webkit-box-shadow: 0.5px 0.5px 3px 0.3px rgba(0, 0, 0, 0.2);
          box-shadow: 0.5px 0.5px 3px 0.3px rgba(0, 0, 0, 0.2);
}

/* GRID-INICIO */
#tit-ini {
  grid-area: titulo;
}

#img-ini1 {
  grid-area: img1;
}

#img-ini2 {
  grid-area: img2;
}

#cardsI {
  grid-area: cards;
}

.video-index {
  grid-area: vid-p;
}

/* FIN GRID-INICIO */
/* Fin de generales */
/*TITULOS*/
.titulo-nosotros, .titulo-productos, .titulo-terminos, .titulo-contacto {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 80px;
}

/* FIN DE SUBTITULOS*/
/* VISTA MOBILE EXTRA SMALL */
@media screen and (min-width: 320px) {
  #body-nos, #body-prod, #body-term, #body-cont {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#faebe6), to(#eb8939));
    background-image: linear-gradient(#faebe6, #eb8939);
  }
  #body-ini {
    background-color: white;
  }
  .logo {
    width: 60px;
  }
  #fondo-color1, #fondo-color2 {
    background-color: #FFCCBC;
  }
  .nav-link {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  #barra-buscar {
    width: 90px;
  }
  #barra-buscar:focus {
    width: 100px;
  }
  /* FOOTER */
  #proyectoAbajo1 {
    font-size: 14px;
    color: white;
  }
  .footer__trabajo {
    text-align: center;
    list-style: none;
    margin-top: 20px;
  }
  .footer__trabajo--text {
    color: #FF5722;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-style: outset;
    padding-left: 5px;
    padding-right: 5px;
  }
  .redes, .redes2 {
    color: #FF5722;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: right;
  }
  #ig {
    width: 20px;
    height: 20px;
  }
  #facebook {
    width: 20px;
    height: 20px;
  }
  /* FIN DE FOOTER */
  /* INICIO */
  #titulo-inicio {
    position: relative;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 110px;
    top: 0;
    left: 0;
  }
  .rotar-palabra {
    display: inline;
    margin-left: 60px;
  }
  .span-palabra1, .span-palabra2, .span-palabra3 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: white;
    position: absolute;
    background-color: #FF5722;
    padding-inline: 10px;
    opacity: 0;
    -webkit-transform-origin: 10% 75%;
            transform-origin: 10% 75%;
  }
  .span-palabra1 {
    -webkit-animation: rotarP 12s 0s linear infinite;
            animation: rotarP 12s 0s linear infinite;
  }
  .span-palabra2 {
    -webkit-animation: rotarP 12s 4s linear infinite;
            animation: rotarP 12s 4s linear infinite;
  }
  .span-palabra3 {
    -webkit-animation: rotarP 12s 8s linear infinite;
            animation: rotarP 12s 8s linear infinite;
  }
  @-webkit-keyframes rotarP {
    5% {
      opacity: 1;
    }
    10%,
    20% {
      opacity: 1;
      -webkit-transform: rotate(3deg);
              transform: rotate(3deg);
    }
    15% {
      -webkit-transform: rotate(-1deg);
              transform: rotate(-1deg);
    }
    25% {
      opacity: 0;
      -webkit-transform: translateY(90px) rotate(10deg);
              transform: translateY(90px) rotate(10deg);
    }
  }
  @keyframes rotarP {
    5% {
      opacity: 1;
    }
    10%,
    20% {
      opacity: 1;
      -webkit-transform: rotate(3deg);
              transform: rotate(3deg);
    }
    15% {
      -webkit-transform: rotate(-1deg);
              transform: rotate(-1deg);
    }
    25% {
      opacity: 0;
      -webkit-transform: translateY(90px) rotate(10deg);
              transform: translateY(90px) rotate(10deg);
    }
  }
  .subtitulo-ini {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 18px;
  }
  .subtitulo-card {
    background-color: #FFCCBC;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 4px 0.1px black;
            box-shadow: 0px 2px 4px 0.1px black;
    padding: 8px;
  }
  #main-inicio {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "img1" "cards" "vid-p" "img2";
  }
  #tit-ini {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #img-ini1 {
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: 70px;
    width: 200px;
  }
  #img-ini2 {
    width: 200px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  #cardsI {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 20px;
  }
  #card-ini1, #card-ini2, #card-ini3, #card-ini4 {
    width: 140px;
  }
  .video-index {
    -ms-grid-row-align: center;
        align-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
  }
  #vidMuestra {
    width: 200px;
    height: 110px;
  }
  .video-index .video-index__titulo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    background-color: #f3663b;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 12px;
    -webkit-box-shadow: 0px 1px 5px 0.4px #eb582c;
            box-shadow: 0px 1px 5px 0.4px #eb582c;
    -webkit-animation: proyectoMover 2s infinite ease;
            animation: proyectoMover 2s infinite ease;
  }
  .video-index .video-index__titulo h2 {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  .video-index .video-index__vid {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  @-webkit-keyframes proyectoMover {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    50% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
    100% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    0% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
  }
  @keyframes proyectoMover {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    50% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
    100% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
    50% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    0% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
  }
  /* FIN DE INICIO */
  /* NOSOTROS */
  .parraf-nos {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
    word-spacing: 5px;
    text-align: center;
    margin: 20px 20px 20px 20px;
  }
  .img-nos {
    width: 120px;
    height: 120px;
    margin: 10px 10px 10px 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  /* FIN DE NOSOTROS */
  /* PRODUCTOS */
  .col-sm-12, .col-md-4, .col-xl-3 {
    margin-bottom: 10px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .button_prod {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid #fdd9cd;
    background-color: #fdd9cd;
    color: #000;
  }
  .card-text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  .item__precio {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-weight: 600;
  }
  .tipoitem {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
  }
  /* FIN DE PRODUCTOS */
  /* TERMINOS */
  .parraf-terminos {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
    word-spacing: 5px;
    text-align: justify;
  }
  .img-terminos {
    width: 150px;
    height: 150px;
  }
  /* FIN DE TERMINOS */
  /* CONTACTO */
  #body-cont main form {
    background-color: #FFCCBC;
    margin: 10px 0px 10px 0px;
    padding: 15px;
    border-radius: 10px;
  }
  .form-control, .form-select {
    width: 100%;
  }
  /* FIN DE CONTACTO */
}

/* VISTA MOBILE SMALL*/
@media screen and (min-width: 576px) {
  #barra-buscar {
    width: 260px;
  }
  #barra-buscar:focus {
    width: 290px;
  }
  /* INICIO */
  #titulo-inicio {
    font-size: 26px;
    margin-top: 90px;
  }
  .rotar-palabra {
    margin-left: 130px;
  }
  .subtitulo-ini {
    font-size: 20px;
  }
  .subtitulo-card {
    padding: 10px;
  }
  #img-ini1 {
    width: 400px;
  }
  #img-ini2 {
    width: 450px;
  }
  #card-ini1, #card-ini2, #card-ini3, #card-ini4 {
    width: 160px;
  }
  #vidMuestra {
    width: 300px;
    height: 160px;
  }
  .video-index .video-index__titulo {
    -webkit-box-shadow: 0px 0px 6px 0.4px #eb582c;
            box-shadow: 0px 0px 6px 0.4px #eb582c;
  }
  .video-index .video-index__titulo h2 {
    font-size: 20px;
    font-weight: 650;
  }
  /* FIN DE INICIO */
  /* NOSOTROS */
  .img-nos {
    width: 200px;
    height: 200px;
    margin: 20px 20px 20px 20px;
  }
  /* FIN DE NOSOTROS */
  /* PRODUCTOS */
  .card-img-top {
    width: 150px;
    height: 150px;
  }
  /* FIN DE PRODUCTOS */
  /* TERMINOS */
  .img-terminos {
    width: 200px;
    height: 200px;
    margin: 20px 80px 20px 0px;
  }
  /* FIN DE TERMINOS */
  /* CONTACTO */
  .form-control, .form-select {
    width: 80%;
  }
  /* FIN DE CONTACTO */
}

/* Vista Tablet*/
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 22px;
  }
  #barra-buscar {
    width: 320px;
  }
  #barra-buscar:focus {
    width: 350px;
  }
  /* FOOTER */
  #vidMuestra {
    width: 360px;
    height: 200px;
  }
  #proyectoAbajo1 {
    font-size: 20px;
  }
  .redes {
    font-size: 18px;
    font-weight: bold;
  }
  .redes2 {
    font-size: 18px;
    font-weight: bold;
  }
  #ig {
    width: 30px;
    height: 30px;
  }
  #facebook {
    width: 30px;
    height: 30px;
  }
  /* FIN DE FOOTER */
  /* INICIO */
  #titulo-inicio {
    font-size: 30px;
    margin-top: 70px;
    top: 60px;
    left: 40px;
  }
  #main-inicio {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo titulo titulo titulo" "img1 img1 img1 img1" "cards cards cards cards" "img2 img2 img2 vid-p";
  }
  #tit-ini {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  #card-ini1, #card-ini2, #card-ini3, #card-ini4 {
    width: 170px;
  }
  #vidMuestra {
    width: 300px;
    height: 160px;
  }
  .video-index .video-index__titulo h2 {
    font-size: 16px;
  }
  /* FIN DE INICIO */
  /* NOSOTROS */
  .img-nos {
    width: 170px;
    height: 170px;
    margin: 5px 5px 5px 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .img-nos:hover {
    width: 180px;
    margin: 0px 0px 0px 0px;
  }
  /* FIN DE NOSOTROS */
  /* PRODUCTOS */
  .card-img-top {
    width: 150px;
    height: 150px;
  }
  /* FIN DE PRODUCTOS */
  /* TERMINOS */
  .parraf-terminos {
    margin: 0px 10px 0px 100px;
  }
  .img-terminos {
    width: 200px;
    height: 200px;
    margin: 20px 80px 20px 0px;
  }
  /* FIN DE TERMINOS */
  /* CONTACTO */
  .form-control, .form-select {
    width: 80%;
  }
  /* FIN DE CONTACTO */
}

/* VISTA DE TABLET-2 992px*/
@media screen and (min-width: 992px) {
  .logo {
    width: 80px;
  }
  .logo:hover {
    -webkit-animation: shake 0.3s;
            animation: shake 0.3s;
  }
  @-webkit-keyframes shake {
    25% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    25% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    25% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    25% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
  }
  @keyframes shake {
    25% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    25% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
    25% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    25% {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
    }
  }
  .btn-outline-dark {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .btn-outline-dark:hover {
    -webkit-transform: rotate(360deg) scale(0.95);
            transform: rotate(360deg) scale(0.95);
  }
  .nav-link {
    font-size: 22px;
    font-weight: 650;
  }
  #barra-buscar {
    width: 360px;
  }
  #barra-buscar:focus {
    width: 390px;
  }
  /* FOOTER */
  #vidMuestra {
    width: 360px;
    height: 200px;
  }
  #proyectoAbajo1 {
    font-size: 20px;
  }
  .footer__trabajo--text {
    font-size: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .footer__trabajo--text:hover {
    color: #fd5f2f;
    font-size: 19px;
  }
  .redes, .redes2 {
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }
  /* FIN DE FOOTER */
  /* INICIO */
  #titulo-inicio {
    font-size: 36px;
    margin-top: 70px;
  }
  .rotar-palabra {
    margin-left: 130px;
  }
  .subtitulo-ini {
    font-size: 20px;
  }
  .subtitulo-card {
    padding: 10px;
  }
  #img-ini1 {
    margin-top: 30px;
    width: 500px;
  }
  #img-ini2 {
    width: 550px;
  }
  #card-ini1, #card-ini2, #card-ini3, #card-ini4 {
    width: 210px;
  }
  #vidMuestra {
    width: 350px;
    height: 190px;
  }
  .video-index .video-index__titulo h2 {
    font-size: 20px;
  }
  /* FIN DE INICIO */
  /* NOSOTROS */
  .img-nos {
    width: 180px;
    height: 180px;
    margin: 5px 5px 10px 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .img-nos:hover {
    width: 190px;
    margin: 0px 0px 0px 0px;
  }
  /* FIN DE NOSOTROS */
  /* PRODUCTOS */
  .card-img-top {
    width: 150px;
    height: 150px;
  }
  .button_prod {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .button_prod:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
  }
  /* FIN DE PRODUCTOS */
  /* TERMINOS */
  .parraf-terminos {
    margin: 0px 10px 0px 100px;
  }
  .img-terminos {
    width: 200px;
    height: 200px;
    margin: 20px 80px 20px 0px;
  }
  /* FIN DE TERMINOS */
  /* CONTACTO */
  .form-control, .form-select {
    width: 80%;
  }
  /* FIN DE CONTACTO */
}

/* VISTA DESKTOP */
@media screen and (min-width: 1200px) {
  #barra-buscar {
    width: 400px;
  }
  #barra-buscar:focus {
    width: 430px;
  }
  /* FOOTER */
  /* FIN DE FOOTER */
  /* INICIO */
  #titulo-inicio {
    font-size: 40px;
    top: 60px;
    left: 110px;
  }
  .rotar-palabra {
    margin-left: 130px;
  }
  .subtitulo-ini {
    font-size: 24px;
  }
  #img-ini1 {
    width: 650px;
  }
  #img-ini2 {
    width: 700px;
  }
  #card-ini1, #card-ini2, #card-ini3, #card-ini4 {
    width: 250px;
  }
  #vidMuestra {
    width: 400px;
    height: 220px;
  }
  .video-index .video-index__titulo h2 {
    font-size: 24px;
  }
  /* FIN DE INICIO */
  /* NOSOTROS */
  .img-nos {
    width: 270px;
    height: 270px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .img-nos:hover {
    width: 280px;
  }
  /* FIN DE NOSOTROS */
  /* PRODUCTOS */
  .button_prod {
    border-radius: 22px;
  }
  /* FIN DE PRODUCTOS */
  /* TERMINOS */
  .parraf-terminos {
    margin: 20px 150px 20px 100px;
  }
  /* FIN DE TERMINOS */
  /* CONTACTO */
  .form-control, .form-select {
    width: 100%;
  }
  /* FIN DE CONTACTO */
}
/*# sourceMappingURL=style.css.map */