@import "colores";
@import "tipografia";

* {
    margin: 0;
    padding: 0;
}
/* Generales */

footer {
    background-image: linear-gradient(#131313 , #000);
}

p {
    color: black;
    font-size: 12px;
    font-family: $sans-serif;
    font-weight:lighter;

}
ul {
    color: black;
    font-family: $sans-serif;    
    font-weight: normal;
}
#nav-bar{
    background-color: transparent;
}
.navbar{
    background-color: $color-secun2;
}
.form-control{
    border-radius: 20px;
    transition: all 0.5s;
        &:focus{
            background-color: #333333;
            color: white;
        }
}
.btn-outline-dark{
    width: 2.5rem;
    border-radius: 3rem;    
    transition: all 0.5s;
        &:hover{
            transform: rotate(360deg) scale(0.9);
        }
}
.navbar-toggler{
    border-radius: 20px;
    border: none;
}
.btn-light{
    border-radius: 20px;
    transition: all 0.3s;
    font-weight: bold;
    box-shadow: 0px 8px 15px
        rgba(0, 0, 0, 0.1);
        &:hover{
            background: $color-prim;
            border: $color-prim;
            transform:translateY(-7px);
            color: #fff;
            box-shadow: 0px 10px 25px
                #eb582c;
        }
}
.card {
    box-shadow: 0.5px 0.5px 3px 0.3px rgba(0, 0, 0, 0.2);;
}
/* Fin de generales */

/*TITULOS*/
#titulo-inicio{
    margin-top: 80px;
}
.titulo-nosotros, .titulo-productos, .titulo-terminos, .titulo-contacto {
    font-family: $sans-serif;
    text-align: center;
    margin-top: 80px;
}
/* FIN DE SUBTITULOS*/




/* VISTA MOBILE EXTRA SMALL */
@media screen and (min-width: 320px) {
    #body-nos, #body-prod, #body-term, #body-cont {
        background-image: linear-gradient(#faebe6, rgb(235, 137, 57));
    }
    #body-ini{
        background-color: white;
    }
    .logo {
        width: 70px;
    }
    #fondo-color1, #fondo-color2{
        background-color: $color-secun;
    }
    .nav-link{
        font-family: $sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    #barra-buscar{
        width: 90px;
    }
    
    /* FOOTER */
    #proyectoAbajo1{
        font-size: 20px;
    }
    .footer__trabajo {
        text-align: center;
        list-style: none;
        margin-top: 20px;
    }
    .footer__trabajo--text {
        color: $color-prim;
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-style: outset;
        padding-left: 5px;
        padding-right: 5px;
    }
    .redes {
        color: $color-prim;
        font-family: $sans-serif;
        font-size: 14px;
        text-align: right;
    }
    .redes2 {
        color: $color-prim;
        text-align: right;
        font-size: 14px;
        font-family: $sans-serif;
    }
    #ig {
        width: 20px;
        height: 20px;
    }
    #facebook {
        width: 20px;
        height: 20px;
    }
    /* FIN DE FOOTER */

    /* INICIO */
    .img-inicio1{
        width: 140px;
        margin: 80px 0px 0px 0px;
        border-radius: 15px;
    }
        .img-inicio2{
            width: 140px;
            margin: 80px 0px 0px 0px;
            border-radius: 15px;
        }   
            .img-inicio3{
                width: 150px;
                margin: 10px 0px 0px 0px;
                border-radius: 15px;
            }
                #vid-inicio{
                    width: 450px;
                    margin: 10px 0px 10px 0px;
                }
    /* FIN DE INICIO */

    /* NOSOTROS */
    .parraf-nos{
        font-family: $sans-serif;
        font-size: 18px;
        font-weight: normal;
        word-spacing: 5px;
        text-align: center;
        margin: 20px 20px 20px 20px;
    }
    .img-nos{
        width: 200px;
        height: 200px;
        margin: 10px 10px 10px 10px;
        transition: all 0.5s;
    }
    /* FIN DE NOSOTROS */

    /* PRODUCTOS */
    .col-sm-12, .col-md-4, .col-xl-3{
        margin-bottom: 10px;
    }
    .card-img-top {
        width: 200px;
        height: 200px;
        align-self: center;
    }
    .button_prod{
        font-family: $sans-serif;
        font-size: 16px;
        font-weight: 500;
        border-radius: 20px;
        padding: 8px;
        border: 1px solid #fdd9cd;
        background-color: #fdd9cd;
        color: black;
    }
    .card-text{
        font-family: $sans-serif;
        font-size: 16px;
    }
    .item__precio{
        font-family: $sans-serif;
        font-size: 26px;
    }
    .tipoitem {
        font-family: $sans-serif;
        font-size: 22px;
        font-weight: bold;  
    }
    /* FIN DE PRODUCTOS */
    
    /* TERMINOS */
    .parraf-terminos {
        font-family: $sans-serif;
        font-size: 18px;
        font-weight: normal;
        word-spacing: 5px;
        text-align: justify;
    }
    .img-terminos{
        width: 150px;
        height: 150px;
    }
    /* FIN DE TERMINOS */
    
    /* CONTACTO */
    #body-cont main form{
        background-color: $color-secun;
        margin: 10px 0px 10px 0px;
        padding: 15px;
        border-radius: 10px;
    }
    .form-control, .form-select{
        width: 100%;
    }
    /* FIN DE CONTACTO */
}






/* VISTA MOBILE SMALL*/
@media screen and (min-width: 576px) {
    #barra-buscar{
        width: 300px;
    }
    

    /* INICIO */
    .img-inicio1{
        width: 270px;
        margin: 80px 0px 0px 0px;
        border-radius: 15px;
    }
        .img-inicio2{
            width: 270px;
            margin: 80px 0px 0px 0px;
            border-radius: 15px;
        }   
            .img-inicio3{
                width: 290px;
                margin: 10px 0px 0px 0px;
                border-radius: 15px;
            }
                #vid-inicio{
                    width: 500px;
                    margin: 10px 0px 10px 0px;
                }
    /* FIN DE INICIO */

    /* NOSOTROS */
    .img-nos{
        margin: 20px 20px 20px 20px;
        transition: all 0.5s;
            &:hover{
                width: 250px;
                margin: 0px 0px 0px 0px;
            }
    }
    /* FIN DE NOSOTROS */

    /* PRODUCTOS */
    .card-img-top {
        width: 150px;
        height: 150px;
    }
    /* FIN DE PRODUCTOS */
    
    /* TERMINOS */
    .img-terminos{
        width: 200px;
        height: 200px;
        margin:  20px 80px 20px 0px;
    }
    /* FIN DE TERMINOS */
    
    /* CONTACTO */
    .form-control, .form-select{
        width: 80%;
    }
    /* FIN DE CONTACTO */
}






/* Vista Tablet*/
@media screen and (min-width: 768px) {
    .nav-link{
        font-size: 22px;
    }
    #barra-buscar{
        width: 360px;
    }
    
    /* FOOTER */
    #vidMuestra {
        width: 360px;
        height: 200px;
    }
    #proyectoAbajo1{
        font-size: 20px;
    }
    .footer__trabajo--text {
        font-size: 18px;
        transition: all 0.5s;
            &:hover {
                font-size: 20px;
            }
    }  
    .redes {
        font-size: 18px;
        font-weight: bold;
    }
    .redes2 {
        font-size: 18px;
        font-weight: bold;
    }
    #ig {
        width: 30px;
        height: 30px;
    }
    #facebook {
        width: 30px;
        height: 30px;
    }
    /* FIN DE FOOTER */

    /* INICIO */
    .img-inicio1{
        width: 230px;
    }
        .img-inicio2{
            width: 230px;
        }   
            .img-inicio3{
                width: 230px;
            }
    /* FIN DE INICIO */

    /* NOSOTROS */
    
    .img-nos{
        width: 170px;
        height: 170px;
        margin: 5px 5px 5px 5px;
        transition: all 0.5s;
            &:hover{
                width: 180px;
                margin: 0px 0px 0px 0px;
            }
    }
    /* FIN DE NOSOTROS */

    /* PRODUCTOS */
    .card-img-top {
        width: 150px;
        height: 150px;
    }
    /* FIN DE PRODUCTOS */
    
    /* TERMINOS */
    .parraf-terminos {
        margin:  0px 10px 0px 100px;
    }
    .img-terminos{
        width: 200px;
        height: 200px;
        margin:  20px 80px 20px 0px;
    }
    /* FIN DE TERMINOS */
    
    /* CONTACTO */
    .form-control, .form-select{
        width: 80%;
    }
    /* FIN DE CONTACTO */
}





/* VISTA DE TABLET-2 992px*/
@media screen and (min-width: 992px) {
    .logo {
        width: 80px;
            &:hover {
                animation: shake 0.3s;
            }
            @keyframes shake {
                25%{transform: rotate(-10deg)}
                25%{transform: rotate(10deg)}
                25%{transform: rotate(-10deg)}
                25%{transform: rotate(10deg)};
            }
    }
    .nav-link{
        font-size: 22px;
        font-weight: 650;
    }
    #barra-buscar{
        width: 390px;
    }
    
    /* FOOTER */
    #vidMuestra {
        width: 360px;
        height: 200px;
    }
    #proyectoAbajo1{
        font-size: 20px;
    }
    
    .footer__trabajo--text {
        font-size: 18px;
        transition: all 0.5s;
            &:hover {
                font-size: 20px;
                color: white;
            }
    }
    
    .redes {
        font-size: 18px;
        font-weight: bold;
    }
    .redes2 {
        font-size: 18px;
        font-weight: bold;
    }
    /* FIN DE FOOTER */

    /* INICIO */
    .img-inicio1{
        width: 300px;
    }
        .img-inicio2{
            width: 300px;
        }   
            .img-inicio3{
                width: 300px;
            }
    /* FIN DE INICIO */

    /* NOSOTROS */
    .img-nos{
        width: 180px;
        height: 180px;
        margin: 5px 5px 10px 5px;
        transition: all 0.5s;
            &:hover{
                width: 190px;
                margin: 0px 0px 0px 0px;
            }
    }
    /* FIN DE NOSOTROS */

    /* PRODUCTOS */
    .card-img-top {
        width: 150px;
        height: 150px;
    }
    .button_prod{
        transition: all 0.3s;   
            &:hover{
                background-color: black;
                border: 1px solid black;
                color: white;
            }
    }
    /* FIN DE PRODUCTOS */
    
    /* TERMINOS */
    .parraf-terminos {
        margin:  0px 10px 0px 100px;
    }
    .img-terminos{
        width: 200px;
        height: 200px;
        margin:  20px 80px 20px 0px;
    }
    /* FIN DE TERMINOS */
    
    /* CONTACTO */
    .form-control, .form-select{
        width: 80%;
    }
    /* FIN DE CONTACTO */
}




/* VISTA DESKTOP */
@media screen and (min-width: 1200px) {

    #barra-buscar{
        width: 400px;
    }
    /* FOOTER */
    /* FIN DE FOOTER */

    /* INICIO */
    #titulo-inicio{
        position: relative;
        color: black;
        font-family: $sans-serif;
        font-weight: bold;
        margin: 100px 0px 0px 30px;
    }
    .rotar-palabra{
        display: inline;
        margin-left: 130px;
    }
    .span-palabra1, .span-palabra2, .span-palabra3{
        width: max-content;
        color: white;
        position: absolute;
        background-color: $color-prim;
        padding-inline: 10px;
        opacity: 0;
        transform-origin: 10% 75%;
    }
    .span-palabra1{
        animation: rotarP 12s 0s linear infinite;
    }
    .span-palabra2{
        animation: rotarP 12s 4s linear infinite;
    }
    .span-palabra3{
        animation: rotarP 12s 8s linear infinite;
    }
    @keyframes rotarP{
        5%{
            opacity: 1;
        }
        10%,
        20%{
            opacity: 1;
            transform: rotate(3deg);
        }
        15%{
            transform: rotate(-1deg);
        }
        25%{
            opacity: 0;
            transform: translateY(90px)
            rotate(10deg);
        }
    }
    .subtitulo-ini{
        font-family:'Lucida Sans';
        text-align: center;
    }
    .subtitulo-card{
        background-color: $color-secun;
        border-radius: 10px;
        box-shadow: 12px 12px 15px
        rgba(1, 1, 1, 0.1);
    }
    #main-inicio{
        display: grid;
        grid-template-areas: 
            "titulo titulo titulo titulo"
            "img1 img1 img1 img1"
            "cards cards cards cards"
            "img2 img2 img2 vid-p";
    }
    #tit-ini{
        grid-area: titulo;
        justify-self: start;
    }
        #img-ini1{
            grid-area: img1;
            justify-self: end;
        }
        #img-ini2{
            grid-area: img2;
            width: 700px;
            justify-self: start;
        }
        #cardsI{
            grid-area: cards;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
            #card-ini1, #card-ini2, #card-ini3, #card-ini4{
                width: 300px;
                margin: 0px 0px 20px 10px;
            }
    
    .video-index{
        grid-area: vid-p;
        align-self: center;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2
    }


    #vidMuestra {
        width: 400px;
        height: 220px;
    }
    .video-index{
        & .video-index__titulo{
            width: fit-content;
            justify-self: center;
            & h2{
                color: black;
                font-family: $sans-serif;
                font-size: 26px;
                font-weight: bolder;
            }
        }   
    }
    .video-index__vid{
        width:fit-content;
        justify-self: center;
    }
    /* FIN DE INICIO */

    /* NOSOTROS */
    .img-nos{
        width: 270px;
        height: 270px;
        transition: all 0.5s;
            &:hover{
                width: 280px;
            }
    }
    /* FIN DE NOSOTROS */

    /* PRODUCTOS */
    .button_prod{
        border-radius: 22px;  
    }
    /* FIN DE PRODUCTOS */
    
    /* TERMINOS */
    .parraf-terminos {
        margin:  20px 150px 20px 100px;
    }
    /* FIN DE TERMINOS */
    
    /* CONTACTO */
    .form-control, .form-select{
        width: 80%;
    }
    /* FIN DE CONTACTO */
}